nav ul li{
    display: inline;
    color: rgb(241, 189, 207);
    font-size: 30px;
    margin-right: 20px;
}

nav ul li:hover{
    color: rgb(236, 73, 157);
}

nav{
    text-align: center;
    background-color: rgb(162, 13, 68);
    border-radius: 10px;
    height: 200px;
}

#full{
    max-width: 1500px;
    margin: auto;
}

h1{
    color: rgb(241, 189, 207);
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article{
    background-color: rgb(241, 189, 207);
    border-radius: 10px;
    max-width: 1300px;
    margin: auto;
    height: 200px;
}

h2{
    color:  rgb(162, 13, 68);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article p{
    color: rgb(162, 13, 68);
    padding: 9px;
    font-family: Arial, Helvetica, sans-serif;
}

footer p{
    color: rgb(162, 13, 68);
}

#keszitette{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.nevesdatum{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: underline;
    color: rgb(130, 11, 54);
    margin-left: 1000px;
    font-size: 30px;
    font-family: fantasy;
}